@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Nunito:wght@300&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Serif+Display:ital@1&family=Nunito:wght@300&family=Vina+Sans&display=swap');
.signup-entry{
    font-family: 'Nunito', sans-serif;
    
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.signup-entry {
    padding:20px 10px;
}
.signup-entry > .apply-container{
      width: 50%;
      min-height: 70vh;
      border:2px solid var( --kappel);
      border-radius: var(--radius-20);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.048);
}
.signup-entry > .apply-container > h1{
font-size: 30px;
color: black;
font-weight: 700;
font-style: italic;
}
.select-btn{
 display: flex;
 width: 100%;
 justify-content: space-between;
 gap: 10px;
}
.select-btn > div{
    height: fit-content;
    padding: 10px;
    width: 250px;
    border: 1px solid var(--gray-x-11);
    border-radius: var(--radius-10);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Vina Sans', sans-serif;
}

.select-btn > div > div{
display: flex;
align-items: flex-start;
justify-content: space-between;
}
.select-btn > div img{
    height: 50px;
}
.select-btn > div:hover{
    transition: all 200ms;
    cursor: pointer;
    border: 2px solid var(--kappel);
    background-color:rgb(241, 241, 241);
}
.apply-container > .apply-btn{
    width: 50%;
    color: white;
}
.apply-container > div > .signup{
    width: 100%;
    padding: 10px;
    background-color: var(--kappel);
    border-radius: var(--radius-20);
}
.apply-container > div > .signup:hover{
    opacity: 0.8;
}
.check-account > span{
    font-family: 'Vina Sans', sans-serif;
    color: var(--kappel);
    cursor: pointer;
}

/* REAGISTRAITON FORM */
